.gitignore

SortingNumbers/SortingNumbers.sln
SortingNumbers/Debug/
SortingNumbers/SortingNumbers/Debug
SortingNumbers/SortingNumbers/SortingNumbers.vcxproj
SortingNumbers/SortingNumbers/SortingNumbers.vcxproj.filters
SortingNumbers/.vs/

TypesCasting/TypesCasting.sln
TypesCasting/Debug/
TypesCasting/TypesCasting/Debug
TypesCasting/TypesCasting/TypesCasting.vcxproj
TypesCasting/TypesCasting/TypesCasting.vcxproj.filters
TypesCasting/.vs/

FibonacciThreads/FibonacciThreads.sln
FibonacciThreads/Debug/
FibonacciThreads/FibonacciThreads/Debug
FibonacciThreads/FibonacciThreads/FibonacciThreads.vcxproj
FibonacciThreads/FibonacciThreads/FibonacciThreads.vcxproj.filters
FibonacciThreads/.vs/